* {
    font-family: "Helvetica Beue", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgb(14, 176, 221));
}

main {
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-areas:
      "header header header"
      ". content ."
      "footer footer footer";
    min-height: 100vh;
    justify-items: center;
    /* align-items: center; */
    align-content: space-between;
  }

.header {
    /* background-color: aquamarine; */
    grid-area: header;
    font-size: large;
    padding-top: 1em;
  }
  
.content {
    /* background-color: blueviolet; */
    grid-area: content;
  }
  
.footer {
    grid-area: footer;
    font-size:larger;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fbfbfb;
    background-color: #000000;
    border-radius: 5px;
    padding-left: 5px;
}

h3 {
    width: 70%;
    box-sizing: border-box;
}

.column {
    columns: 1;
}

li:hover {
    font-weight: bold;
    color:tomato;
}

.nick-name:hover {
    font-weight: bold;
    color:tomato;
}

.image {
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.image:hover {
    animation-name: hero-img;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform-origin: left;
}


.work-image {
    padding-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.intro{
    font-size:larger;
}

.page-teller{
    color: tomato;
    font-weight: bold;
}

footer{
    background-color: blanchedalmond;
}

.navigation-style{
    color:#000000;
}

.navigation-styl:hover{
    font-weight: bold;
    color:tomato;
}

.work-style {
    font-size: large;
    padding-top: 2%;
    padding-bottom: 2%;
}

.work-header {
    font-size: larger;
    padding-top: 2%;
    padding-bottom: 2%;
}

.hero-head:hover {
    animation-name: hero-headline;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform-origin: left;
  }
  
@keyframes hero-headline {
    0% {
      background-color: rgb(255, 255, 255);
      color: black;
    }
    25% {
        background-color: rgb(14, 176, 221);
        color: black;
      }
    50% {
      background-color: rgb(13, 74, 179);
      color: black;
    }
    75% {
        background-color: rgb(4, 4, 137);
        color: beige;
      }
    100% {
      background-color: rgb(0, 0, 0);
      color: beige;
    }
}

@keyframes hero-img {
    0% {
        transform: scale(1) rotate(0deg);
      }
    12% {
        transform: scale(1) rotate(-60deg);
      }
    25% {
        transform: scale(1) rotate(-120deg);
      }
    50% {
        transform: scale(1) rotate(-180deg);
      }
    75% {
        transform: scale(1) rotate(-240deg);
      }
    86% {
        transform: scale(1) rotate(-300deg);
      }
    100% {
        transform: scale(1) rotate(-360deg);
      }
}

@media screen and (min-width: 450px) and (max-width: 2500px) {
    .image {
        padding-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}

